body{
    font-size: 1.46em;
}

/*.btn-override{
}
*/
.btn-custom{
    width: 40%;
    padding: 2%;
    border: 1px solid #0c7982;
    background-color: #0c7982;
    border-radius: 3px;
    color: white;
}
.btn-custom:hover {
    border: 1px solid #10a3b1;
    background-color: #0e9eac;

}

.main-title{
    margin-top: 0%;
    font-size: 260%;
}

/* search bar  */
.search-bar{
    position:absolute;
    top: 1em; /* < 5.5em */
    right: 5vw;
    z-index: 10000;

    /*width: 90vw;*/
    color: black;

    background-color: white;
    padding: 0.5em;
    border-radius: 10px;

    box-shadow: 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid rgb(150, 150, 150);

    /*transition*/
    width: 30vw;
    /* Added in js for desktop only
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    */
}
.search-bar:hover{
    width: 90vw;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

/*search bar output*/
.search-bar-op{
    position:absolute;
    top: 6em; /* < 5.5em */
    right: 5vw;
    z-index: 10000;

    width: 90vw;
    height: fit-content;
    color: black;

    background-color: white;
    padding: 0.5em;
    border-radius: 10px;

    box-shadow: 4px 8px 0 rgba(0,0,0, 0.7);
    border: 1px solid rgb(110, 110, 110);

    padding-top: 2em; /* to avoid creoss *?

    /* DYNAMIC */
    display: none;
    min-height: 50vh;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search-bar-op-cross{
    position:absolute;
    top: 0.5em;
    right: 0.8em;
    z-index: 11000;
}