.flip-card3 {
    
    position:absolute;
    top: 5.5em;
    right: 10px;
    z-index: 100;

    background-color: white;
    width: 19vw;
    height: 500px;
    perspective: 1000px;
  }
  
.flip-card3:hover .flip-card3-inner {
    transform: rotateY(180deg);
}

.flip-card3-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;

  /*border: 1px solid black;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}  

.flip-card3-front, .flip-card3-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* news */
/*------*/
.flip-card {
    /* news */
    position:absolute;
    top: 5.5em;
    left: 10px;
    z-index: 100;

    background-color: transparent;
    /*box-shadow: 4px 8px 0 rgba(0,0,0,0.2); */
    width: 19vw;
    max-height: 0px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    /*transform: rotateY(-180deg); Turn off rotation*/ 
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: white;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
  }


  /* News */
  .news-flip-h3{
    color: rgba(0, 0, 0, 0.723);
    /*text-shadow: 2px 2px rgba(0,0,0,0.2);*/
  }
  .news-collapsible{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: rgba(0, 0, 0, 0.723);
  }