.f-help{
    position: fixed;
    bottom: 4vh;
    right: 7vw;
    z-index: 1000;

    border: 1px solid #412fb3;
    border-radius: 5px;
    background-color: #412fb3;
    padding: 5px;
    color: white;
}